*.a
*.dSYM
*.in
*.o
*~
.*.swp
.deps
.DS_Store
javadoc
Makefile
/aclocal.m4
/ar-lib
/autom4te.cache
/cdecl-*.tar.gz
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs
/install-sh
/missing
/test-driver
/ylwrap
